{% extends 'master/base.html.twig' %}
 
{% block title %}Student index{% endblock %}

{% block body %}
    <h1>Student index</h1>
   
    <a href="{{ path('student_new') }}" class="btn btn-success " >Create new</a>



<hr>

<div class="row mr-5 ml-3">



<div class="card ">
<div class="card-header">
    <div class="card-tools">
    
        <form class="form-inline ml-1" >
            
                <input class="form-control" autocomplete="off" name="search" type="search" placeholder="Search" aria-label="Search" style="margin-right: auto;">
                    <button class=" input-group-text btn btn-navbar btn-success" type="submit">
                         <i class="fa fa-search"></i>
                    </button>
        </form>
    </div>
</div>



</div>




    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>MiddleName</th>
                <th>LastName</th>
                <th>Sex</th>
                <th>ID Number</th>
                <th>Barcode</th>
                <th>actions</th>
            </tr>  
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ student.firstName }}</td>
                <td>{{ student.middleName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.sex }}</td>
                <td>{{ student.idNumber }}</td>
                <td>{{ student.barcode }}</td>
                <td>
                    <a href="{{ path('student_show', {'id': student.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('student_edit', {'id': student.id}) }}" class="btn btn-warning">edit</a>
                    {# <a href="{{ path('barcode', {'id': student.id}) }}"  class="btn btn-primary">Barcode</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    
        <div class="float-right">{{ knp_pagination_render(students) }}</div>
<div class="float-left pl-2"><b> Total result: {{ students.getTotalItemCount }}</b></div>
  
{% endblock %}


{% block javascripts %}
    <script>
    $(function()
{
    $('.select2').select2()
    $('.select2bs4').select2({
    theme: 'bootstrap4'
    })
});
    </script> 

     <script>
    $(function()
    {
        $('#form_Reset').on('click',function(){
        window.location.href = "{{path('student_index',{'reset':'reset'})}}";
            })
    });

    
 
</script>

{% endblock %}