{% extends 'master/base.html.twig' %}
 
{% block title %}Student index{% endblock %}

{% block body %}
    <h1>Student index</h1>
   
    <a href="{{ path('student_new') }}" class="btn btn-success " >Create new</a>



{# {{ form_start(filterform, { 'attr': { 'role':'form', 'id':'filterform'} }) }}


<div class="row mr-5 ml-3">

<div class="col-3 form-group">
	<b>Enrollment</b>
	<div class="input-group">
		<div class="input-group-prepend">

		</div>


         {% if filterdata.Enrollment is defined %}
  {{ form_widget(filterform.Enrollment,{value : filterdata.Enrollment,'attr':{'class':'form-control select2bs4'}}) }}
        {% else %}
        {{ form_widget(filterform.Enrollment,{'attr':{'class':'form-control select2bs4'}}) }}
         {% endif %}


	</div>
</div>



<div class="col-3 form-group">
	<b>Department</b>
	<div class="input-group">
		<div class="input-group-prepend">

		</div>
          {% if filterdata.Department is defined %}
        {{ form_widget(filterform.Department,{value : filterdata.Department, 'attr':{'class':'form-control select2bs4'}}) }}
        {% else %}
        {{ form_widget(filterform.Department,{'attr':{'class':'form-control select2bs4'}}) }}
         {% endif %}
	</div>
</div>


<div class="col-3 form-group">
	<b>ProgramLevel</b>
	<div class="input-group">
		<div class="input-group-prepend">

		</div>
		   {% if filterdata.ProgramLevel is defined %}
             {{ form_widget(filterform.ProgramLevel,{value : filterdata.ProgramLevel, 'attr':{'class':'form-control '}}) }}
        {% else %}
            {{ form_widget(filterform.ProgramLevel,{'attr':{'class':'form-control '}}) }}
         {% endif %}
	</div>
</div>



<div class="col-3 form-group">
	<b>&nbsp;</b>
	<div class="input-group">
		<div class="input-group-prepend">

		</div>
		{{ form_widget(filterform.Search,{'attr':{'class':'form-control btn btn-success'}}) }}
	</div>
</div>


</div>

{{ form_end(filterform) }} #}



    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>MiddleName</th>
                <th>LastName</th>
                <th>Sex</th>
                <th>Year</th>
                <th>AcademicYear</th>
                <th>actions</th>
            </tr>  
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.firstName }}</td>
                <td>{{ student.middleName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.sex }}</td>
                <td>{{ student.year }}</td>
                <td>{{ student.academicYear }}</td>
                <td>
                    <a href="{{ path('student_show', {'id': student.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('student_edit', {'id': student.id}) }}" class="btn btn-warning">edit</a>
                    {# <a href="{{ path('barcode', {'id': student.id}) }}"  class="btn btn-primary">Barcode</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    
        <div class="float-right">{{ knp_pagination_render(students) }}</div>
<div class="float-left pl-2"><b> Total result: {{ students.getTotalItemCount }}</b></div>
  
{% endblock %}


{% block javascripts %}
    <script>
    $(function()
{
    $('.select2').select2()
    $('.select2bs4').select2({
    theme: 'bootstrap4'
    })
});
    </script> 

     <script>
    $(function()
    {
        $('#form_Reset').on('click',function(){
        window.location.href = "{{path('student_index',{'reset':'reset'})}}";
            })
    });

    
 
</script>

{% endblock %}