<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Gentelella Alela! | </title>

        <!-- Bootstrap -->
        <link href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">

        <!-- Font Awesome -->
        <link href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
        <link href="{{ asset('assets/css/crud.css')}}" rel="stylesheet">

        <!-- Custom Theme Style -->
        <link href="{{ asset('assets/css/custom.min.css')}}" rel="stylesheet">
                
        <!-- jQuery -->
        <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js')}}"></script>

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

    </head>
    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                    <a href="index.html" class="site_title"><i class="fa fa-paw"></i> 
                    <span>AASTU</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                    <div class="profile_pic">
                        <img src="{{asset('assets/image/img.jpg')}}" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2>John Doe</h2>
                    </div>
                    <div class="clearfix"></div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    {% include 'master/sidebar.html.twig' %}

                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Settings">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Lock">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
                </div>

                {% include 'master/navbar.html.twig' %}

                <!-- page content -->
                <div class="right_col" role="main">
                <div class="">
                    <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">
                                {% block body %}
                                    
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <!-- /page content -->
                
                {% include 'master/footer.html.twig' %}
                
            </div>
        </div>

        <!-- Bootstrap -->
        
        <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js')}}"></script>
        <!-- FastClick -->
        <script src="{{ asset('assets/vendor/fastclick/lib/fastclick.js')}}"></script>
        <!-- NProgress -->
        
        <script src="{{ asset('assets/vendor/nprogress/nprogress.js')}}"></script>
        
        <!-- Custom Theme Scripts -->
        <script src="{{ asset('assets/js/custom.min.js')}}"></script>   

        {% block javascripts %}
            
        {% endblock %}
    </body>
</html>
